<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{titre}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each scripts}}
        <script type="module" src="{{this}}"></script>
    {{/each}}
</head>
<body>
    {{>header}}

    <main>
        {{{body}}}
    </main>

    {{>footer}}
</body>
</html>