<img src="/img/gymnasium.jpg" alt="Gymnase du Centre sportif de Wellston">

<div class="wrapper">
    <!-- formulaire pour se connecter-->
<form id="form-auth">
    <label>
        Courriel:
        <input type="text" id="input-courriel" required>
    </label>

    <label>
        Mot de passe:
        <input type="password" id="input-mot-de-passe" required>
    </label>

    <input type="submit" value="{{titre}}">
</form>
</div>