<h2>{{titre}}</h2>

<form id="form-auth">
     <!-- formulaire pour s,enregistrer-->
    <label>
        Courriel:
        <input type="text" id="input-courriel" required>
    </label>

    <label>
        Mot de passe:
        <input type="password" id="input-mot-de-passe" required>
    </label>

    <label>
        Nom:
        <input type="name" id="input-name" required>
    </label>

    <label>
        Prenom:
        <input type="name" id="input-pre-name" required>
    </label>

    <input type="submit" value="{{titre}}">
</form>